<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>DLT</display-name>
	<listener>
		<listener-class>system.Initialtor</listener-class>
	</listener>
	<listener>
		<listener-class>systemTest.TestDataCreator</listener-class>
	</listener>
	<filter>
		<filter-name>AdminLoginFilter</filter-name>
		<filter-class>security.filters.AdminLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminLoginFilter</filter-name>
		<url-pattern>
			/admin/news.jsp
		</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminLoginFilter</filter-name>
		<url-pattern>
			/admin/messages.jsp
		</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminLoginFilter</filter-name>
		<url-pattern>
			/admin/index.jsp
		</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminLoginFilter</filter-name>
		<url-pattern>
			/admin/profile.jsp
		</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminLoginFilter</filter-name>
		<url-pattern>
			/admin/message_detail.jsp
		</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminLoginFilter</filter-name>
		<url-pattern>
			/admin/news_detail.jsp
		</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminLoginFilter</filter-name>
		<url-pattern>
			/admin/news_creation.jsp
		</url-pattern>
	</filter-mapping>
</web-app>